h3
{
  background-color:#ddd;
  padding : 1em;
  }
h4
{
  padding : 1em;

}

li
{
  display: inline-block;
  background-color:blue;
  color:white;
  padding: 1em;
}

.active

{
    background-color:balck;
    color:white;

}