h3
{
  background-color:#ddd;
  padding : 1em;
  }
h4
{
  padding : 1em;

}
label
{
  width:10em;
}

li
{
  display: inline-block;
  background-color:blue;
  color:white;
  padding: 1em;
}

.active1

{
    background-color:balck;
    color:white;

}

tabHeadings
  {

    list-style: none;
  }
  .tabHeadings  li
  {
    display: inline-block;
    background-color: #666;
    cursor: pointer;
    color: #fff;

  }

  .tabHeadings  li:hover
  {
    display: inline-block;
    background-color: #999;
    cursor: pointer;
    color: #fff;


  }

  .tab
  {
    display: none;

  }


  .active

  {
    display: block;
  }